
<main>
<div>
<img src="" alt="">
<p>{{name.profile}} </p>
<span>{{contact.profile}} </span>
<p>{{bio.profile}} </p>
<button>Edit</button>

</div>
//just need ngfrom and ng model. move form into div//

/* we will be using 2 way binding with ngModel*/
<form>
  <h5>Use this Form below to update your profile.</h5>
  <label for="">Name</label>
<input type="text">
<label for="">Contact</label>
<input type="text">
<textarea name="" id="" cols="20" rows="5">Bio</textarea>
<button>Update</button>
</form>



</main>